<!DOCTYPE html>

<head>
    <title>AJAX Form</title>
    <script src="/public/jquery-3.3.1.min.js"></script>

</head>

<body>
    <h1>Form AJAX</h1>
    <form id='formProduct'>

        <ul>
            <li>
                <input type="checkbox" name="digits" id="digit1" value="1">
                <label for="digit1">1</label>
            </li>
            <li>
                <input type="checkbox" name="digits" id="digit2" value="2">
                <label for="digit2">2</label>
            </li>
            <li>
                <input type="checkbox" name="digits" id="digit3" value="3" checked>
                <label for="digit3">3</label>
            </li>
            <li>
                <input type="checkbox" name="digits" id="digit4" value="4" checked>
                <label for="digit4">4</label>
            </li>
            <li>
                <input type="checkbox" name="digits" id="digit5" value="5" checked>
                <label for="digit5">5</label>
            </li>
        </ul>

        <ul>
            <li>
                <input type="checkbox" name="numbers" id="number1" value="15">
                <label for="number1">15</label>
            </li>
            <li>
                <input type="checkbox" name="numbers" id="number2" value="28">
                <label for="number2">28</label>
            </li>
            <li>
                <input type="checkbox" name="numbers" id="number3" value="33" checked>
                <label for="number3">33</label>
            </li>
            <li>
                <input type="checkbox" name="numbers" id="number4" value="47" checked>
                <label for="number4">47</label>
            </li>
            <li>
                <input type="checkbox" name="numbers" id="number5" value="51">
                <label for="number5">51</label>
            </li>
        </ul>

        <ul>
            <li>
                <input type="checkbox" name="names" id="name1" value="Enrico">
                <label for="name1">Enrico</label>
            </li>
            <li>
                <input type="checkbox" name="names" id="name2" value="Priscilla" checked>
                <label for="name2">Priscilla</label>
            </li>
            <li>
                <input type="checkbox" name="names" id="name3" value="Giulia" checked>
                <label for="name3">Giulia</label>
            </li>
            <li>
                <input type="checkbox" name="names" id="name4" value="Paolo">
                <label for="name4">Paolo</label>
            </li>
            <li>
                <input type="checkbox" name="names" id="name5" value="Sofia">
                <label for="name5">Sofia</label>
            </li>
        </ul>

        <button type="submit">Submit</button>
    </form>

    <p id="result"></p>

    <script src="/public/submit.js"></script>
</body>

</html>